<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">EmployeeStack</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="employee-list" class="nav-item nav-link active">Employee List</a>
                <a routerLink="create-employee" class="nav-item nav-link">Create Employee</a>
            </div>
        </div>
    </div>
</nav>