<section class="employee-list">
  <div class="container employee-list-container">
    <h3 *ngIf="(employeeList | async)?.length === 0">
      No list to be displayed!!
    </h3>
    <table
      *ngIf="(employeeList | async)?.length > 0"
      class="table table-striped"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList | async">
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.age }}</td>
          <td class="d-flex justify-content-center">
            <button class="btn btn-danger mx-3" (click)="onDelete(employee.id)">
              Delete
            </button>
            <button
              class="btn btn-lg btn-outline-primary"
              (click)="open(content)"
            >
              Edit
            </button>
          </td>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editEmployeeForm">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="email"
                    class="form-control"
                    id="name"
                    placeholder="name"
                    formControlName="name"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                    formControlName="email"
                  />
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input
                    type="email"
                    class="form-control"
                    id="age"
                    placeholder="32"
                    formControlName="age"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-dark"
                (click)="modal.close('Save click')"
                (click)="onEdit(employee.id)"
              >
                Save
              </button>
            </div>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
